<p id="notice"><%= notice %></p>

<h1>Listing Categories</h1>

 <section class="table-responsive">
 <table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Nom</th>
      <th>Actions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |categorie| %>
      <tr>
        <td><%= categorie.id %></td>
        <td><%= categorie.nom %></td>
        <td><%= link_to 'Afficher', categorie %></td>
        <td><%= link_to 'Editer', edit_category_path(categorie) %></td>
        <td><%= link_to 'Supprimer', categorie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Categorie', new_category_path %>
